.calculator {
    margin-top: 128px;
    width: 325px;
    aspect-ratio: 4/7;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex: 0 1 0;
    flex-direction: column;
    justify-content: space-evenly;
    background: lightblue;
    border: 10px solid darkgray;
    border-radius: 15px;
}

.calculator-display {
    margin: 20px;
    padding: 10px;
    background: lightgray;
    min-width: 80%;
    text-align: right;
    border: 2px solid black;
    border-radius: 8px;

    display: flex;
    flex: 0 1 0;
    flex-direction: column;
    justify-content: space-between;
}

.calculator-buttons {
    height: 312px;
    display: flex;
    flex: 0 1 0;
    flex-direction: column;
    justify-content: space-evenly;
}

button {
    border: none;
    background-color: aquamarine;
    width: 65px;
    aspect-ratio: 1;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

button:hover {
    background-color: aqua;
}

.row0, .row1, .row2, .row3, .row4 {
    padding: 3px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: baseline;
}

#clear, #delete {
    width: 45%;
    height: 48px;
}

#running-total {
    padding-bottom: 5px;
    font-size: 24px;
}